:root {
	--casterlabs: #e94b4b;

	--text-color: #000000;
	--background-color: #fcfcfc;
}

html {
	overflow: hidden;
	background-color: var(--background-color) !important;
	color: var(--text-color) !important;
	font-family:  "Manrope", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
	margin: 0;
}

/* Helpers */

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

.no-select {
	user-select: none;
}

.allow-select {
	user-select: auto;
}
