:root {
	--casterlabs: #e94b4b;

	/* --text-color: #363636;
	--background-color: #ffffff; */
	--text-color: #dbdbdb;
	--background-color: #121212;
}

html {
	overflow: hidden;
	background-color: var(--background-color) !important;
	color: var(--text-color) !important;
	font-family:  "Manrope", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Helpers */

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

.no-select {
	user-select: none;
}

.allow-select {
	user-select: auto;
}
